body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("https://i.imgur.com/vZKNw1t.jpg");
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.page-headings {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.page-headings-post-index {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.page-headings-post-index:hover {
  color: #ffa000;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 18px;
}

.comment-display {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
  margin-top: 20px;
  line-height: 0;
  flex-wrap: wrap;
}

.comment-body-text {
  display: flex;
  line-height: 1.5;
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 2px 0 5px 0;
}

.delete-comment-btn {
  margin-top: 5px;
}

.comment-page-heading {
  font-family: Noto Serif Display, serif;
  text-align: center;
  font-weight: bold;
}

.form-bg {
  padding: 10px;
}

.white-heading {
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.logo {
  width: 300px;
  margin-left: 15px;
}

.date-index {
  margin-bottom: 5px;
}
