{% extends 'base.html' %} {% block content %}

<h1>Index page for each users comments.</h1>

{% for el in comment %}


  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ el.user }}</span></a>
      <p>el.description</p>
    </div>
    <div class="card-action"></div>
      <a class="btn amber darken-2" href="{% url 'comment_update' el.id %}"
        >Edit</a
      >
      <a class="btn amber darken-2" href="{% url 'comment_delete' el.id %}"
        >Delete</a
      >
    </div>
  </div>

{% endfor %} {% endblock %}
